@* 変更: reloadフラグを追加する *@
@(index: Int, currentUser: User, item: Item, reload: Boolean = false)(implicit messagesProvider: MessagesProvider, flash: Flash, request: RequestHeader)

@if(item.haveUsers.exists(_.id == currentUser.id)) {
<buttion id="have@index" class="btn btn-success">Have</buttion>
<script type="text/javascript" charset="utf-8">
       $('#have@index').on('click', function(e) { doNotHave($(this), '@{item.code}', @reload); });
   </script>
} else {
<buttion id="have@index" class="btn btn-primary">Have It</buttion>
<script type="text/javascript" charset="utf-8">
           $('#have@index').on('click', function(e) { have($(this), '@{item.code}', @reload); });
   </script>
}